@using NewTab.Web.Models

@if (FolderUp) {
    <div title="Folder Up" class="bookmark" @onclick="() => UpdateBookmark(null)">
        <img src="img/folder-up.png" alt="Folder Up" />
        <p>Folder Up</p>
    </div>
} else {
    @if (Bookmark != null) {

        @if (Bookmark.Type == "folder") {
            <div title="@Bookmark.Name" class="bookmark" @onclick="() => UpdateBookmark(Bookmark)">
                <img src="img/folder.png" alt="@Bookmark.Name" />
                <p>@Bookmark.Name</p>
            </div>
        } else {
            <a title="@Bookmark.Name" class="bookmark bg-success text-white" href="@(Bookmark.Url ?? "#")" target="_blank">
                <img src="" alt="@Bookmark.Name" />
                <p>@Bookmark.Name</p>
            </a>
        }

    }
}




@code {

    [Parameter]
    public Bookmark? Bookmark { get; set; }

    [Parameter]
    public bool FolderUp { get; set; } = false;

    [Parameter]
    public EventCallback<Bookmark> UpdateBookmarksEvent { get; set; }


    public async void UpdateBookmark(Bookmark? bookmark)
    {
        await UpdateBookmarksEvent.InvokeAsync(bookmark);
    }

}
